@import url("https://fonts.googleapis.com/css2?family=Neucha&display=swap");
* {
  font-family: "Neucha", cursive;
  font-size: 1.2rem;
}
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: rgb(179, 223, 255);
  padding: 0rem 9rem;
}
.header {
  font-size: 5rem;
}
